body{
	width: 1366px;
	margin: auto;
	font-family: 'Arimo';
	background-color: #000;
}

.pop-up-wrapper{
	width: 900px;
	margin: auto;
	margin-top: 80px;
	background-color: #EEEEEE;
	overflow: auto;
	padding-bottom: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: #fff;
} 

h2{
	background-color: #0F4490;
	color: #fff;
	margin: 0px;
	text-align: center;
	padding: 10px;
	font-size: 16px;
}

.authorization-panel{
	text-align: center;
	padding: 10px;
}

.authorization-panel label{
	margin: 0px 5px;
	color: #717171;
	font-weight: bold;
}

.authorization-panel input{
	margin: 0px 35px 0px 5px;
	font-size: 16px;
	padding: 2px 5px;
	color: #000;
	background-color: #fff;
}

#authorization-amount{
	font-size: 26px;
	font-weight: bold;
	color: #000;
}

.details{
	text-align: center;
	height: 170px;
	margin: 5px;
}

.details div table{
	font-size: 12px;
}

h3{
	padding: 10px;
	margin: 0px;
	font-size: 16px;
	text-align: left;
	margin-bottom: 5px;
}

.drill-details{
	margin: 4px;
	margin-left: 5px;
	float: left;
	width: 27%;
	height: inherit;
	background-color: #E2E2E2;
	font-family: Arimo;
}

.drill-details h3{
	background-color: #8AC159;
}

.unit-details{
	margin: 4px;
	float: left;
	width: 27%;
	height: inherit;
	background-color: #E2E2E2;
	font-family: Arimo;
}

.unit-details table{
	width: 98%;
}

.unit-details h3{
	background-color: #51ABDF;
}

.hotel-details{
	margin: 4px;
	float: left;
	width: 43%;
	height: inherit;
	background-color: #E2E2E2;
	font-family: Arimo;
}

.right-section{
	float: left;
	width: 43%;
}
.left-section{
	float: left;
	width: 53%;
}


.hotel-details h3{
	background-color: #C19648;
}

.details div table tr td:first-child{
	color: #757575;
	text-align: right;
	padding: 4px 3px;
	width: 51%;
	vertical-align: top;
	font-weight: bold;
}

.details div table tr td:last-child{
	color: #000;
	text-align: left;
	padding: 4px 2px;
	width: 49%;
	vertical-align: top;
	font-weight: bold;
}

.personal{
	margin: 12px 10px;
	height: inherit;
}

h4{
	text-align: center;
	vertical-align: middle;
	height: 14px;
}

h5{
	text-align: center;
	margin: 0px;
	padding: 3px 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: #D0D0D0;
}

.personnel{
	width: 12%;
	float: left;
	margin-right: 2px;
	background-color: #E4C20B;
}

.blocks{
	width: 29%;
	float: left;
	height: inherit;
	background-color: #E2E2E2;
	padding: 0px 0px;
	margin-left: 2px;
}

.blocks div{
	width: 30%;
	float: left;
	padding: 3px;
	font-weight: bolder;
}

.blocks div label:first-child{
	width: 87%;
	float: left;
	text-align: center;
	padding-right: 2px;
	font-size: 12px;
	color: #757575;
}

.blocks div:nth-child(2) label:first-child{
	padding-top: 9px;
}

.blocks div label:last-child{
	width: 10%;
	float: left;
	text-align: center;
	font-size: 16px;
	padding-top: 6px;
}
