body{
	width: 1366px;
	margin: auto;
	font-family: 'Arimo';
	background-color: #000;
}

.cross-button{
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	padding: 2px 6px;
	border: 3px solid #fff;
	border-radius: 30px;
	position: relative;
	top: 90px;
	left: 1121px;
	background-color: #000;
}

.pop-up-wrapper{
	width: 900px;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 100px;
	background-color: #EEEEEE;
	overflow: auto;
	padding-bottom: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: #fff;
} 

h2{
	background-color: #0F4490;
	color: #fff;
	margin: 0px;
	text-align: center;
	padding: 10px;
	font-size: 16px;
}

.authorization-panel{
	text-align: center;
	padding: 10px;
}

.authorization-panel label{
	margin: 0px 5px;
	color: #717171;
	font-weight: bold;
}

.authorization-panel input{
	margin: 0px 35px 0px 5px;
	font-size: 16px;
	padding: 2px 5px;
	color: #000;
	background-color: #fff;
}

#authorization-amount{
	font-size: 26px;
	font-weight: bold;
	color: #000;
}

.details{
	text-align: center;
	height: 170px;
	margin: 5px;
}

.details div table{
	font-size: 12px;
}

h3{
	padding: 10px;
	margin: 0px;
	font-size: 16px;
	text-align: left;
	margin-bottom: 5px;
}

.drill-details{
	margin: 4px;
	margin-left: 5px;
	float: left;
	width: 27%;
	height: inherit;
	background-color: #E2E2E2;
	font-family: Arimo;
}

.drill-details h3{
	background-color: #8AC159;
}

.unit-details{
	margin: 4px;
	float: left;
	width: 27%;
	height: inherit;
	background-color: #E2E2E2;
	font-family: Arimo;
}

.unit-details table{
	width: 98%;
}

.unit-details h3{
	background-color: #51ABDF;
}

.hotel-details{
	margin: 4px;
	float: left;
	width: 43%;
	height: inherit;
	background-color: #E2E2E2;
	font-family: Arimo;
}

.right-section{
	float: left;
	width: 43%;
}
.left-section{
	float: left;
	width: 53%;
}


.hotel-details h3{
	background-color: #C19648;
}

.details div table tr td:first-child{
	color: #757575;
	text-align: right;
	padding: 4px 3px;
	width: 51%;
	vertical-align: top;
	font-weight: bold;
}

.details div table tr td:last-child{
	color: #000;
	text-align: left;
	padding: 4px 2px;
	width: 49%;
	vertical-align: top;
	font-weight: bold;
}

.personal{
	margin: 12px 10px;
	height: inherit;
}

h4{
	text-align: center;
	vertical-align: middle;
	height: 14px;
}

h5{
	text-align: center;
	margin: 0px;
	padding: 3px 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: #D0D0D0;
}

.personnel{
	width: 12%;
	float: left;
	margin-right: 2px;
	background-color: #E4C20B;
}

.blocks{
	width: 29%;
	float: left;
	height: inherit;
	background-color: #E2E2E2;
	padding: 0px 0px;
	margin-left: 2px;
}

.blocks div{
	width: 30%;
	float: left;
	padding: 3px;
	font-weight: bolder;
}

.blocks div label:first-child{
	width: 87%;
	float: left;
	text-align: center;
	padding-right: 2px;
	font-size: 12px;
	color: #757575;
}

.blocks div:nth-child(2) label:first-child{
	padding-top: 9px;
}

.blocks div label:last-child{
	width: 10%;
	float: left;
	text-align: center;
	font-size: 16px;
	padding-top: 6px;
}

.table-wrapper{
	clear: both;
	height: inherit;
	margin: 15px 5px 5px 5px;
	padding: 5px;
}

.dataTables_wrapper{

	position: relative;
	width: 100%;
	display: inline-block;
}

.table{
	border-collapse: collapse;
	border-color: #666769;
	border-width: 1px;
	border-style: solid;
	text-align: left;
}

.table tr td:last-child{
	border-color: #666769;
}

.table tr th{
	background-color: #64686B;
	color: white;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 5px;
	margin: 0px;
	color: #EEE;
}

.table tr td{
	background-color: #E2E2E2;
	border-right-width: 1px;
	border-right-style: solid;
	border-color: #CACACA;
	font-size: 11px;
	font-weight: bold;
	padding: 6px 8px;
	color: #131313;
}

.confirmation-number{
	width: 12%;
	text-align: center;
}

.suc{
	width: 4%;	
	text-align: center;
}

.last-name{
	width: 10%;
}

.first-name{
	width: 10%;
}

.rank{
	width: 4%;
}

.gender{
	width: 4%;
	text-align: center;
}

.separate-room{
	width: 8%;
}

.check-in{
	width: 9%;
	text-align: center;
}

.check-out{
	width: 9%;
	text-align: center;
}

.days{
	width: 6%;
	text-align: center;
}

.auth-cost{
	width: 9%;
	text-align: center;
	padding-right: 80px;
	padding-left: 80px;
}

.residence{
	width: 5%;
}

.auth-letter{
	width: 8%;
}

button{
	margin: 0px 10px;
	background-color: #0F4490;
	padding: 6px 18px;
	color: #EEEEEE;
	font-weight: bold;
	border-style: none;
	border-radius: 3px;
}

.dataTables_length{
	font-size: 12px;
	font-weight: bold;
	color: #777777;
	margin: 10px 10px 10px 0px;
	width: 35%;
	float: left;
	position: absolute;
	bottom: -1px;
	left: 215px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 .dataTables_length{
	bottom: -4px;
	left: 180px;
}
}

.dataTables_length label select{
	font-size: 12px;
	font-weight: bold;
	color: #777777;
	overflow: scroll;
	border-style: none;
	height: auto;
	overflow-y: auto; 
}

#example_filter{
	width: 99%;
	float: right;
	text-align: right;
	padding: 10px 0px 10px 0px;
}

#example_filter label{
	font-size: 12px;
	font-weight: bold;
	color: #777777;	
}

#example_filter label input{
	background-color: #EEEEEE;
	border-style: none;
	margin-left: 10px;
	width: 100px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C9C9C9;
}

.dataTables_info, .dataTables_paginate{
	font-size: 12px;
	font-weight: bold;
	color: #666769;	
	margin: 10px 0px;
	width: 50%;
	float: left;
}

.dataTables_paginate{
	text-align: right;
}

.dataTables_paginate > a{
	padding: 8px;
	cursor: pointer;
}
.dataTables_paginate span a{
	padding: 3px 7px;
	cursor: pointer;
}

#search-image{
	height: 10px;
	width: 10px;
}

.current{
	background-color: #666769;	
	color:#EEEEEE;
	border-style: none;
	border-radius: 20px;
	padding: 5px 0px;
}